@-webkit-keyframes animate-positive{
    50% { width: 0%; }
}
@keyframes animate-positive{
    50% { width: 0%; }
}
.imgauto{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.mb20{
    margin-bottom: 20px;
}
.dota2_ul1{
    height: 40px;
}
.dota2_ul1 li{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 38px;
    float: left;
}
.dota2_ul1 li{
    font-size: 20px;
    color: #FF6649;
}
.dota2_ul1 li.active{
    background: #FF6649;
}
.dota2_ul1 li.active {
    color: #fff;
}
.dota2_div{
    width: 860px;
    /* background: #fff; */
    /* border: 1px solid #eee; */
    border-bottom: 0;
    border-radius: 8px;
}
.dota2_item{
    display: none;
}
.dota2_item.active{
    display: block;
}
.dota2_top{
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    background: #fff;
}
.dota2_top img{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.dota2_top span{
    font-size: 20px;
    color: #333;
}
.dota2_div1_team{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    background: #fff;
}
.teamInfo_img{
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-right: 10px;
}
.teamInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colorBlock{
    width: 10px;
    height: 28px;
}
.colorBlock.red{
    background: #FF5C6A;
}
.colorBlock.blue{
    background: #0C8DFC;
}
.colorBlock_right{
    margin-right: 10px;
}
.text_left{
    text-align: left;
}
.teamInfo span{
    font-size: 20px;
    color: #333;
    width: 200px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.dota2_vs{
    width: 24px;
    height: 20px;
}
.dota2_vs img{
    width: 100%;
    display: block;
}
.text_right{
    text-align: right;
}
.teamInfo_reverse{
    flex-direction: row-reverse;
}
.teamInfo_reverse .teamInfo_img{
    margin-left: 10px;
}
.bpBox{
    padding: 0 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 52px;
}
.bpBox_circle{
    
}
.bpBox_circle .circle.third{
    position: relative;
    margin-bottom: 10px;
}
/* .circle strong{
    font-size: 20px;
    color: #FF5C6A;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 36px;
    width: 60px;
    text-align: center;
    height: 20px;
    line-height: 20px;
} */
.bpBox_circle  .circle strong {
    font-weight: 400;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    left: 0;
    top: -6px;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    text-align: center;
}
.bpBox_circle  .circle.Dred strong{
    color: #FF5C6A;
}
.bpBox_circle  .circle strong p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}
.bpBox_circle  .circle strong span{
    font-size: 14px;
    color: #999;
    display: block;
    height: 14px;
    line-height: 14px;
}
.bpBox_result{
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    height: 16px;
    line-height: 16px;
}
.bpBox_kda{
    width: 100px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 6px;
}
.bpBox_kda.red{
    background: #FFF9F7;
    color: #FF5C6A;
}
.bpBox_Date{
    font-size: 14px;
    color: #999;
    line-height: 14px;
    height: 14px;
    text-align: center;
}
.bpBox .left{
    width: 132px;
}
.dota2_item .center{
    width: 380px;
}
.dota2_item .rate, .average_time{
    width: 70px;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
}
.dota2_item .time1,.dota2_item .time2{
    font-size: 14px;
    color: #333;
}
.dota2_item .progress3{
    width: 188px;
}
.dota2_item .rate_data_left,.dota2_item .compare_bar{
    width: 380px;
    margin-bottom: 12px;
}
.bpBox_circle .circle.Dblue strong{
    color: #0C8DFC;
}
.bpBox_kda.blue{
    color: #0C8DFC;
    background: #F7F9FF;
}
.barChart{
    padding: 30px 80px 54px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 270px;
    background: #fff;
}
.bar_item{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.bar_item .outCol {
    display: flex;
    justify-content: center;
    position: relative;
    height: 200px;
}
.bar_item .col {
    width: 14px;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    /* margin-bottom: 10px; */
}
.bar_item .itemName {
    color: #333;
    font-size: 16px;
    white-space: nowrap;
    position: absolute;
    bottom: -26px;
    height: 16px;
    line-height: 16px;
}
.bar_item .bar {
    width: 10px;
    position: relative;
    transition: all .3s;
}
.bar_item .bar.blue{
    background: rgb(103, 126, 234)
}
.bar_item .bar.red{
    background: rgb(237, 86, 86);
}
.bar_item .bar_rate {
    color: #999;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    top: -23px;
    transform: translateX(-50%);
}
.recentGame-box {
    width: 100%;
    /* margin: 0 auto 20px; */
}
.recentGame-box .box {
    width: 100%;
    /* border: 1px solid #ededed; */
    overflow-x: auto;
    background: #fff;
}
.recentGame-box .box .row1, .recentGame-box .box .thead {
    height: 60px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #000;
}
.recentGame-box .box .th {
    height: 60px;
    line-height: 60px;
    color: #fff;
    background: #39e;
    font-size: 16px;
    font-weight: 500;
}
.recentGame-box .box .td, .recentGame-box .box .th {
    flex: 1;
    flex-wrap: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
}
.box .td:first-child, .box .th:first-child {
    padding-left: 20px;
}
.recentGame-box.red .box .th {
    background: #ed5656;
    color: #fff;
}
.recentGame-box .box .td.flex2, .recentGame-box .box .th.flex2 {
    flex: 2;
}
.recentGame-box .box .td.flex15, .recentGame-box .box .th.flex15 {
    flex: 1.5;
}
.recentGame-box .box .td.flex12, .recentGame-box .box .th.flex12 {
    flex: 1.2;
}
.recentGame-box .box .row1 {
    padding: 15px 0;
    height: 60px;
    transition: all .3s;
    cursor: pointer;
}
.recentGame-box .box .td {
    border-bottom: 1px solid #ededed;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 60px;
    line-height: 60px;
}
.box .td:first-child, .box .th:first-child {
    padding-left: 20px;
}
.recentGame-box .box .td.elips, .recentGame-box .box .th.elips {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: normal;
    overflow: hidden;
    width: 100%;
}
.recentGame-box .box .td.flex2, .recentGame-box .box .th.flex2 {
    flex: 2;
}
.recentGame-box .box .td.wrap, .recentGame-box .box .th.wrap {
    flex-direction: column;
}
.recentGame-box .leagueName {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    color: #000;
}
.recentGame-box .leagueTime {
    font-size: 12px;
    color: #999;
    padding-top: 10px;
    line-height: 1;
}
.recentGame-box .box .td, .recentGame-box .box .th {
    flex: 1;
    flex-wrap: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
}
.box .td .elips, .box .th .elips {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: normal;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
    line-height: 1;
}
.dota2_dot{
    width: 16px;
    height: 16px;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 50%;
}
.dota2_dot.red{
    border: 2px solid rgba(255, 92, 106, 1);
}
.dota2_dot.blue{
    border: 2px solid rgba(12, 141, 252, 1);
}
.span_red{
    color: rgba(255, 92, 106, 1);
}
.span_blue{
    color: rgba(12, 141, 252, 1);
}
.recentGame-box.red .rowBox .row1:nth-child(even) {
    background: #FFF9F7;
}
.recentGame-box.blue .rowBox .row1:nth-child(even) {
    background: rgba(241, 249, 255, 1);
}
/* 比赛详情 */
.war_report_detail{
    padding: 0 20px 20px 20px;
    background: #fff;
}
.war_report_detail p,.war_report_detail span{
    font-size: 18px;
    color: #333;
    line-height: 24px;
    word-break: break-all;
    text-align: justify;
    margin-bottom: 4px;
}
.battle_details{
    background: #fff;
}
.battle_item{
    visibility: hidden;
    opacity: 0;
    height: 0;
}
.battle_item.active{
   visibility: visible;
   opacity: 1;
   height: auto;
}
.battle_item_top{
    padding: 0 26px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.heroBox{
    width: 98px;
    height: 98px;
}
.battle_hero{
    position: relative;
    height: 98px;
    width: 98px;
    margin-bottom: 10px;
}
.heroBox,.heroUse{
    position: absolute;
    right: 0;
    bottom: 0;
}
.heroUse{
    width: 38px;
    height: 38px;
	border-radius: 50%;
    overflow: hidden;
	border:2px solid #fff;
}
.heroBox{
    z-index: 1;
}
.heroUse{
    z-index: 2;
}
.heroUse img{
	display:block;
}
.battle_hero .imgauto{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.battle_hero_name{
    display: block;
    width: 166px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    font-size: 18px;
    color: #333;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-bottom: 18px;
}
.battle_top_left{
    width: 166px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thumbList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 98px;
}
.thumbList img{
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
	object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
}
.kad_big{
    font-size: 18px;
    color: #333;
}
.kda_detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.kad_small{
    font-size: 14px;
}
.kad_big.blue,.kad_small.blue{
    color: #0C8DFC;
}
.kad_big.red,.kad_small.red{
    color: #FF5C6A;
}
.battleBox .rate, .average_time{
    margin-bottom: 8px;
}
.battleBox .rate_data_left, .battleBox .compare_bar{
    margin-bottom: 8px;
}
.battle_item_bottom{
    padding: 0 20px 30px 20px;
}
.battle_bottom1{
    display: flex;
    justify-content: space-between;
}
.battle_list .war_situation{
    margin-bottom: 12px;
    width: 326px;
}
.battle_list .war_situation span{
    font-size: 14px;
    height: 20px;
    padding: 0 10px;
    line-height: 20px;
}
.battle_bottom2 .row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.heroBan,.heroPick{
    display: flex;
}
.heroBan img,.heroPick img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    object-fit: cover;
    margin-right: 10px;
}
.heroBan img{
    filter: grayscale(1);
}
.battle_bottom2 .bans{
    font-size: 20px;
    color: #333;
}
.lineup_data{
    background: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
}
.lineup_data .game_detail_item3_top p{
    font-size: 16px;
    color: #333;
    background: rgba(0,0,0,0);
}
.lineup_data .game_detail_item3_top .left span{
    font-size: 14px;
    color: #333;
    font-family: shuzi1;
}
.lineup_mid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.lineup_mid .game_detail_item3{
    width: 378px;
}
.lineup_data .progress.blue{
    background: #0C8DFC;
}
.lineup_data .red .progress-bar{
    background: #FF5C6A;
}
.lineup_data .progress{
    margin-bottom: 10px;
}
.mb60{
    margin-bottom: 60px;
}
.lineup_list,.lineup_item,.lineup_th{
    width: 100%;
}
.lineup_item{
    display: none;
}
.lineup_item.active{
    display: block;
}
.lineup_thItem{
    width: 50%;
    height: 38px;
    padding-left: 10px;
}
.lineup_th,.lineup_td{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lineup_thItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lineup_thRever{
    flex-direction: row-reverse;
    padding-left: 0;
    padding-right: 10px;
}
.lineup_thItem.red{
    background: #FF5C6A;
}
.lineup_thItem.blue{
    background: #0C8DFC;
}
.lineup_thItem span{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
.lineup_thItem span i{
    color: #999;
}
.lineup_td span{
    color: #333;
}
.lineup_th .flex15,.lineup_td .flex15{
   width: 150px;
}
.lineup_td{
    height: 68px;
    border-bottom: 1px solid #eee;
    align-items: center;
    position: relative;
}
.lineup_img{
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
.lineup_td .dn{
    visibility: hidden;
}
.lineup_td p{
    height: 68px;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 68px;
    text-align: center;
    font-size: 16px;
    color: #333;
    width: 100%;
}
.vs_data2 {
    width: 740px;
    height: 38px;
    margin: 0 auto 50px;
}
.vs_data2 li {
    width: 20%;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #fff;
    text-align: center;
    float: left;
    line-height: 36px;
}
.vs_data2 li:nth-child(1) {
    border-left: 1px solid #eee;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.vs_data2 li {
    font-size: 18px;
    color: #666;
}
.vs_data2 li.active {
    border-bottom: 1px solid #FA8E69;
    border-top: 1px solid #FA8E69;
    border-right: 1px solid #FA8E69;
    border-left: 1px solid #FA8E69;
    background: #FFF9F7;
    color: #FA8E69;
}
.vs_data2 li:nth-last-child(1) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* 比赛详情 */
/* 2021.6.17dota2新增 */
.live_box_ul{
    background: #fff;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}
.live_box_detail{
    border-top:1px solid #eee;
}
.live_box_item{
    display: none;
}
.live_box_item.active{
    display: block;
}
/* 2021.6.17dota2新增 */
/* 2021.6.21新增 */
.liveBox_img img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.live_box_detail .game_detail_item1 .left{
    width: 170px;
    justify-content: flex-start;
}
.live_box_detail .game_detail_item1 .left.right{
    justify-content: flex-end;
}
.live_box_detail .game_detail_item1 .left .imgwidth40{
    flex-shrink: 0;
}
.live_box_detail .game_detail_item1 .imgwidth40 .imgauto{
    object-fit: contain;
}
.game_detail_img1 img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.war_report_detail_top{
    display: flex;
    /* height: 20px; */
    align-items: flex-start;
    margin-bottom: 12px;
}
.war_report_detail_top img{
    width: 24px;
    height: 20px;
    margin-right: 10px;
    flex-shrink: 0;
	margin-top:4px;
}
.war_report_detail_top p{
    font-size: 20px;
    color: #333;
    font-weight: 500;
    display: flex;
    align-items: center;
	display:block;
    /* height: 20px; */
    line-height: 28px;
}
.war_report_detail_top p span{
    color: #FF6649;
    font-weight: 500;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0 2px;
	flex-shrink:0;
}
.war_report_detail .firstStep{
    font-size: 18px;
    color: #333;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    padding-left: 38px;
    position: relative;
    margin-bottom: 14px;
}
.war_report_detail .firstStep span{
    display: block;
    width: 24px;
    height: 24px;
    color: #fff;
    background: #FF6649;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    line-height: 24px;
    position: absolute;
    left: 0;
    top: 0;
}
.war_report_detail  .pl38{
    padding-left: 38px;
    margin-bottom: 12px;
}
.secondStep,.thirdStep {
    display: flex;
    margin-bottom: 4px;
}
.war_report_detail .secondStep_img,.war_report_detail .thirdStep_img{
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 18px;
}
.war_report_detail .secondStep_img img,.war_report_detail .thirdStep_img img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.war_report_detail p, .war_report_detail span{
    font-weight: 400;
}
.war_report_detail .firstStep p{
    font-weight: 550;
}
.war_report_detail_top p{
    font-weight: 550;
}
/* 移动 */
@media only screen and (max-width: 1024px){
    .dota2_div{
        width: 100%;
    }
    .dota2_ul1{
        height: .5rem;
    }
    .dota2_ul1 li{
        width: 1.6rem;
        height: .5rem;
        line-height: .5rem;
        border-radius: .25rem;
    }
    .dota2_ul1 li a{
        font-size: .3rem;
        height: .5rem;
        line-height: .5rem;
        display: block;
    }
    .bpBox{
        padding: 0 .16rem;
    }
    .teamInfo span{
        font-size: .28rem;
    }
    .teamInfo_img{
        width: .5rem;
        height: .5rem;
    }
    .bpBox_circle .circle strong p{
        font-size: .26rem;
    }
    .bpBox_circle .circle strong span{
        font-size: .2rem;
        height: .2rem;
        line-height: .2rem;
    }
    .bpBox_result{
        font-size: .2rem;
        height: .2rem;
        line-height: .2rem;
    }
    .bpBox_kda{
        width: 1.4rem;
        height: .4rem;
        font-size: .2rem;
        line-height: .4rem;
    }
    .bpBox_Date{
        font-size: .2rem;
    }
    .dota2_item .rate, .average_time{
        font-size: .24rem;
        width: 100%;
        text-align: center;
        height: .24rem;
        line-height: .24rem;
    }
    .dota2_item .time1, .dota2_item .time2{
        font-size: .2rem;
    }
    .dota2_item .progress3{
        width: 49.4%;
    }
    .rate_data_top{
        margin-bottom: .1rem;
    }
    .dota2_vs{
        width: .48rem;
        height: .4rem;
    }
    .barChart{
        padding: .5rem .8rem .54rem;
    }
    .barChart{
        height: 3.1rem;
    }
    .bar_item .outCol{
        height: 2rem;
    }
    .bar_item .bar{
        width: .12rem;
    }
    .bar_item .itemName{
        font-size: .24rem;
    }
    .bar_item .bar_rate{
        font-size: .2rem;
    }
    .dota2_item{
        margin-bottom: .2rem;
    }
    .dota2_top span{
        font-size: .28rem;
    }
    .dota2_top img{
        width: .36rem;
        height: .36rem;
    }
    .recentGame-box .box .td, .recentGame-box .box .th{
        font-size: .22rem;
    }
    .box .td .elips, .box .th .elips{
        font-size: .22rem;
    }
    .recentGame-box .leagueTime{
        font-size: .2rem;
    }
    .recentGame-box{
        overflow-x: scroll;
    }
    .recentGame-box .box{
        width: 12rem;
    }
    .recentGame-box .box .row1{
        height: .8rem;
    }
    .recentGame-box .box .td{
        height: .8rem;
        line-height: .8rem;
    }
    .war_report_detail p, .war_report_detail span{
        font-size: .24rem;
        line-height: .36rem;
    }
    .battle_top_left{
        width: 1.36rem;
    }
    .battle_hero_name{
        width: 1.36rem;
        font-size: .2rem;
        line-height: .2rem;
        height: .2rem;
    }
    .dota2_item .center{
        width: 3.5rem;
    }
    .battle_item_top{
        padding: 0 .1rem;
    }
    .kad_big{
        font-size: .22rem;
    }
    .kad_small{
        font-size: .2rem;
    }
    .battle_list .war_situation span {
        font-size: .2rem;
        height: .3rem;
        padding: 0 .1rem;
        line-height: .3rem;
        margin-bottom: .1rem;
    }
    .heroBan img, .heroPick img {
        width: .36rem;
        height: .36rem;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        object-fit: cover;
        margin-right: .02rem;
    }
    .battle_bottom2 .bans{
        font-size: .22rem;
    }
    .lineup_mid .game_detail_item3{
        width: 50%;
    }
    .lineup_data .game_detail_item3_top p{
        font-size: .22rem;
    }
    .lineup_data .game_detail_item3_top .left span{
        font-size: .2rem;
    }
    .lineup_thItem span{
        font-size: .22rem;
    }
    .lineup_th .flex15, .lineup_td .flex15{
        width: 1.9rem;
    }
    .lineup_list{
        width: 100%;
        overflow-x: scroll;
    }
    .lineup_item, .lineup_th{
        width: 11rem;
    }
    .lineup_thItem{
        height: .68rem;
    }
    .vs_data2 li a,.vs_data1 li a{
        font-size: .2rem;
    }
    .lineup_td p{
        font-size: .22rem;
    }




    .dota2_item .rate_data_left, .dota2_item .compare_bar{
        width: 3.5rem;
    }
    .vs_data2{
		width:100%;
	}

    .war_report_detail_top p span{
        flex-shrink: 0;
    }
    .war_report_detail_top p{
        display: block;
        height: auto;
    }
    .war_report_detail_top{
        height: auto;
    }
}