.game_left{
    width: 860px;
    float: left;
}
.game_right{
    width: 320px;
    float: right;
}
.game_title{
    width: 860px;
    /* height: 336px; */
    background: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
}
.header{
    box-shadow: -5px 6px 30px 0px rgba(51, 51, 51, 0.08);
    margin-bottom: 30px;
}
.wrapper{
    background: #F5F6F7;
    padding-bottom: 80px;
}
.game_right{
    font-family: 'shuzi';
}
.game_title{
    padding: 0 20px 10px;
    margin-bottom: 20px;
}
.game_team1_img{
    width: 144px;
    height: 216px;
    background: url("../images/game_team1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 76px;
    margin-bottom: 9px;
}
.game_team1_img1{
    width: 128px;
    height: 128px;
    margin: 0 auto;
}
/* .game_team1_img img{
    display: block;
    margin: 0 auto;
} */
.game_team1 span{
    font-size: 24px;
    color: #333;
    display: block;
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin-bottom: 10px;
}
.game_vs{
    display: flex;
    height: 62px;
    align-items: center;
    margin-bottom: 10px;
}
.game_vs span{
    font-family: shuzi;
    width: 64px;
    height: 42px;
    border-radius: 8px;
    text-align: center;
    line-height: 42px;

}
.game_type{
    min-width: 250px
}
.game_type{
    font-size: 0;
}
.game_vs .span1{
    background: #FF5C6A;
}
.game_vs .span2{
    background: #0C8DFC;
}
.game_title_top{
    justify-content: space-around;
    display: flex;
}
.game_type{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.game_type .span1{
    font-size: 20px;
    color: #333;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}
.game_type .span2{
    font-size: 30px;
    color: #333;
    height: 30px;
    line-height: 30px;
    margin-bottom: 26px;
}
.game_type .game_vs .span1{
    height: 42px;
    line-height: 42px;
    font-size: 36px;
    margin-bottom: 0;
    color: #fff;
}
.game_type .game_vs .span2{
    height: 42px;
    line-height: 42px;
    font-size: 36px;
    margin-bottom: 0;
    color: #fff;
}
.game_vs img{
    width: 48px;
    height: 62px;
    margin: 0 20px;
}
.game_type p{
    font-size: 20px;
    color: #999;
    height: 20px;
    line-height: 20px;
}
.game_team_depiction{
    display: flex;
    justify-content: space-between;
}
.game_team_depiction p{
    width: 300px;
    height: auto;
    line-height: 24px;
    font-size: 18px;
    color: #666;
}
.game_team_depiction p.active{
    display: -webkit-box; 
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    text-overflow:ellipsis;
    height: 48px;
}
.game_title_more{
    transform: rotate(90deg);
    width: 10px;
    height: 18px;
    display: block;
    margin: 0 auto;
}
.game_title_more.active{
    transform: rotate(270deg);
}
.game_detail{
    width: 860px;
    min-height: 1800px;
    border-radius: 8px;
    border: 1px solid #EEEEEE;
    background: #fff;
    padding-top: 10px;
}
.game_detail_ul{
    display: flex;
    /* width: 444px; */
    justify-content: center;
    margin: 0 auto 10px;

}
.game_detail_ul li{
    display: flex;
    width: 140px;
    height: 38px;
    margin: 0 12px;
}
.game_detail_ul li a{
    display: flex;
    align-items:center;
}
.game_detail_img1{
    width: 30px;
    height: 30px;
    margin: 0 10px;
    font-size: 0;
}
.game_detail_img1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.game_detail_ul span{
    font-size: 20px;
    color: #999;
}
.game_detail_ul li.active1{
    width: 104px;
    height: 38px;
    margin: 0 10px;
}
.game_detail_ul li.active1 .game_detail_img1 {
    width: 26px;
    height: 26px;
    margin: 0 10px;
    font-size: 0;
}
.game_detail_ul li.active1 a span{
    font-size: 12px;
}
.game_detail_ul li.active{
    border: 1px solid #FA8E69;
    border-radius: 19px;
}
.game_detail_ul li.active a span{
    color: #FF6649;
}
.game_detail_div{
    border-top: 1px solid #eee;
}
.game_detail_item1{
    padding: 10px 20px 0;
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
}
.game_detail_item1 .left{
    display: flex;
    font-size: 0;
    align-items: center;
}
.imgauto{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.imgwidth40{
    width: 40px;
}
.imgwidth30{
    width: 30px;
}
.imgheight40{
    height: 40px;
}
.imgheight30{
    height: 30px;
}
.left span{
    font-size: 20px;
    color: #333;
    margin: 0 12px 0 14px;
}
.game_detail_item1 .center{
    display: flex;
    align-items: center;
}
.game_detail_line1{
    width: 140px;
    height: 1px;
    background: #eee;
}
.game_detail_circle1{
    width: 12px;
    height: 12px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 50%;
}
.game_detail_item1 .center span.fz{
    font-size: 30px;
    margin: 0 22px;
    font-family: shuzi;
}
.font_color_r{
    color: #FF5C6A;
}
.font_color_b{
    color: #0C8DFC;
}
.img_game_detail_vs{
    width: 24px;
    height: 20px;
    font-size: 0;
}
.game_detail_item2{
    display: flex;
    margin: 0 auto;
    width: 596px;
    margin-top: 60px;
    margin-bottom: 56px;
}
.game_detail_item2.win_left{
    background: url("../images/win_left.png") no-repeat center;
    background-size: 100%;
}
.game_detail_item2.win_right{
    background: url("../images/win_right.png") no-repeat center;
    background-size: 100%;
}
.game_detail_item2_left{
    width:50%;
    height: 80px;
    /* background: #8a826c; */
    border-radius: 8px 0px 0px 8px;
    position: relative;
    padding-left: 30px;
}
.game_detail_item2_right{
    width: 300px;
    height: 80px;
    /* background: #B178FF; */
    border-radius: 0px 8px 8px 0px;
    position: relative;
}
.arrow-up{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 80px solid #fff;
    position: absolute;
    right: 0;

}
.game_detail_item2_img{
    width: 120px;
    height: 120px;
    z-index: 2;
    position: absolute;
    bottom: 0;
}
.game_detail_item2_word{
    position: absolute;
    right: 28px;
    display: flex;
    flex-direction: column;
    font-size: 0;
    padding: 12px 0 10px;
    height: 80px;
    justify-content: flex-end;
}
.span1{
    font-size: 30px;
    color: #8C5413;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
}
.span2{
    font-size: 20px;
    color: #8C5413;
    height: 20px;
    line-height: 20px;
}
.game_detail_item2.win_right .game_detail_item2_left .span2{
    color: #fff;
}
.game_detail_item2.win_right .span2{
    color: #8C5413;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 7px solid transparent;
    border-top: 80px solid #fff;
    position: absolute;
    left: 0;
}
.game_detail_item2_left span,.game_detail_item2_right span{
    width: 100px;
    text-align: right;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.game_detail_item2_right span{
    text-align: left;
}
.game_detail_item2_right .span1,.game_detail_item2_right .span2{
    color: #F5EEFF;
}
.game_detail_item2_right .game_detail_item2_word{
    left: 29px;
}
.game_detail_item2_right .game_detail_item2_img{
    right: 10px;
}
.game_detail_item3{
    padding: 0 20px;
}
.game_detail_item3_top{
    display: flex;
    justify-content: space-between;
}
.game_detail_item3_top .left{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.game_detail_item3_top .left span{
    font-size: 24px;
    font-family: shuzi;
}
.game_detail_item3_top .left_img{
    width: 28px;
    height: 22px;
    font-size: 0;
}
.game_detail_item3_top p{
    width: 70px;
    height: 28px;
    background: #F1F1F1;
    border-radius: 14px;
    font-size: 18px;
    color: #999;
    text-align: center;
    line-height: 28px;
}
.arrow-up1{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 80px solid #fff;
}
.arrow-down1 {
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 7px solid transparent;
    border-top: 80px solid #fff;
    position: absolute;
    left: 0;
}
.gold_progress_bar1{
    /* display: flex; */
    position: relative;
}
.gold_progress_bar{
    position: absolute;
}
.pk-detail-con{width: 100%;text-align: center;color: #e3c898;font-size: .32rem;}
.progress.red, .red .progress-bar{position: relative;}
.progress.red {width: 100%;height: 8px;line-height: 8px;color: #f3eee1;letter-spacing: 1px;font-size:14px;overflow: hidden;z-index: 1;background-color: #0C8DFC;border-radius: 19px;}
.red .progress-bar{height: 8px;text-align: left;background-color: #FF5C6A;-moz-transition: width .6s ease;-webkit-transition: width .6s ease;transition: width .6s ease;}
.progress.red, .red .progress-bar{background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%);background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%);background-image: linear-gradient(rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%);}
.lightning, .team-name{position: absolute;}
.lightning{top: 0;right: -2px;width: 4px;height: 8px;background: url("../images/gold_vs.png") no-repeat center;background-size: cover;}


.pk-detail-con{width: 100%;text-align: center;color: #e3c898;font-size: .32rem;}
.progress.blue, .blue .progress-bar{position: relative;}
.progress.blue {width: 100%;height: 8px;line-height: 8px;color: #f3eee1;letter-spacing: 1px;font-size:14px;overflow: hidden;z-index: 1;background-color: #FF5C6A;border-radius: 19px;}
.blue .progress-bar{height: 8px;text-align: left;background-color: #0C8DFC;-moz-transition: width .6s ease;-webkit-transition: width .6s ease;transition: width .6s ease;}
.progress.blue, .blue .progress-bar{background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%);background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%);background-image: linear-gradient(rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 50%);}
.lightning, .team-name{position: absolute;}
.lightning{top: 0;right: -2px;width: 4px;height: 8px;background: url("../images/gold_vs.png") no-repeat center;background-size: cover;}

.game_detail_div1_item3{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.game_detail_div1_item3 .left{
    display: flex;
    align-items: center;
}
.game_detail_div1_item3 .img1{
    width: 20px;
    height: 20px;
    font-size: 0;
}
.game_detail_div1_item3 .img2{
    width: 14px;
    height: 20px;
}
.line2{
    width: 100%;
    height: 1px;
    background: #eee;
}
.game_detail_item4{
    padding: 20px 0 30px 0;
}
.game_detail_item4 .left{
    width: 300px;
    /* padding-left: 20px; */
}
.war_vs{
    padding:0 20px;
    display: flex;
    justify-content: space-between;
}
.war_situation{
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    margin-bottom: 24px;
    width: 300px;
}
.war_situation span{
    font-size: 16px;
    padding: 0 12px;
    height: 24px;
    border-radius: 4px;
    line-height: 24px;
    margin: 0 6px 0 0;
    background: #F1F1F1;
    margin-bottom: 6px;
    color: #999;
}
.war_situation .war_red{
    background: #FFEAEC;
    color: #FF5C6A;
}
.war_situation .war_blue{
    background: #E6F3FF;
    color: #0C8DFC;
}
.bans{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bans_img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.line3{
    width: 1px;
    height: 38px;
    background: #CBCBCB;
}
.bans_bot{
    margin-bottom: 14px;
}
.bans_pincks{
    padding:0 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
}
.bans_pincks .center{
    padding:4px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game_detail_item5{
    margin-bottom: 24px;
}
.vs_data1{
    width: 740px;
    height: 38px;
    margin: 0 auto 50px;
}
.vs_data1 li{
    width: 20%;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-left: 1px solid #fff;
    text-align: center;
    float: left;
    line-height: 36px;
}
/* .vs_data1 li.active1{
    border-right: 0;
} */
.vs_data1 li:nth-child(1){
    border-left: 1px solid #eee;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.vs_data1 li.active{
    border-bottom: 1px solid #FA8E69;
    border-top: 1px solid #FA8E69;
    border-right: 1px solid #FA8E69;
    border-left: 1px solid #FA8E69;
    background: #FFF9F7;
    color: #FA8E69;
}
.vs_data1 li:nth-last-child(1){
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.vs_data1 li a{
    font-size: 18px;
    color: #666;
}
.vs_player_game,.vs_player_reality{
    width: 44px;
    height: 44px;
    position: absolute;
    border-radius: 50%;
}
.vs_player_game{
    left: 0;
    z-index: 2;
}
.vs_player_reality{
    right: 0;
    z-index: 1;
}
.vs_data_combat{
    width: 372px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}
.right .vs_data_combat{
    justify-content: flex-start;
}
.vs_player{
    width: 70px;
    margin-left: 6px;
    position: relative;
    height: 44px;
}
.right .vs_player{
    margin: 0 6px 0 0 ;
}
.progress1_parent{
    width: 248px;
}
.vs_data2_item{
    padding: 0 20px;
    justify-content: space-between;
    display: none;
}
.vs_data2_item.active{
    display: flex;
}
.game_before_after{
    width: 490px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 30px;
}
.game_before_after a{
    font-size: 18px;
    color: #666;
    line-height: 36px;
}
.game_before_after li{
    width: 240px;
    height: 38px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}
.game_before_after li.active{
    border: 1px solid #FA8E69;
}
.game_before_after li.active a{
    color: #FF6649;
}
.vs_data3 th{
    height: 38px;
    background: #FF5C6A;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
}
.vs_data3_player{
    width: 70px;
    height: 44px;
    position: relative;
}
.va_data3_div1,.va_data3_div2{
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.va_data3_div1{
    position: absolute;
    left: 0;
    z-index: 1;
}
.va_data3_div2{
    position: absolute;
    right: 0;
    z-index: 2;
}
.vs_data3_player span{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 24px;
    position: absolute;
    right: -4px;
    bottom: -4px;
    background: #fff;
}
.vs_data3_skills{
    font-size: 0;
}
.vs_data3_skills1{
    width: 20px;
    height: 20px;
    margin: 3px 0;
}


/* 表格 */
.table-wrap .table {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 18px;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
    background: transparent;
}
.table-wrap .table thead tr {
    border-top: 1px solid rgba(0,0,0,0.06);
    border-bottom: 1px solid rgba(0,0,0,0.06);
}
.table-wrap .table.red thead tr {
    background: #FF5C6A;
    /* background: linear-gradient(90deg,#0d7eff 0%,#0f97ff 100%); */
}
.table-wrap .table tr th {
    height: 37px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.table-wrap .table tr th, .table-wrap .table tr td {
    text-align: center;

}
.table-wrap .table tr th:nth-of-type(1) {
    padding-left: 32px;
}
.table-wrap .table tr th:nth-of-type(1), .table-wrap .table tr td:nth-of-type(1) {
    width: 24%;
    text-align: left;
}
.table-wrap .table tr th:nth-of-type(2), .table-wrap .table tr td:nth-of-type(2) {
    width: 24%;
}
.table-wrap .table tr th:nth-of-type(3), .table-wrap .table tr td:nth-of-type(3) {
    width: 10%;
}
.table-wrap .table tr th:nth-of-type(4), .table-wrap .table tr td:nth-of-type(4) {
    width: 9%;
}
.table-wrap .table tr th:nth-of-type(5), .table-wrap .table tr td:nth-of-type(5) {
    width: 9%;
}
.table-wrap .table tr th:nth-of-type(6), .table-wrap .table tr td:nth-of-type(6) {
    width: 8%;
}
.table-wrap .table tr th:nth-of-type(7), .table-wrap .table tr td:nth-of-type(7) {
    width: 8%;
}
.table-wrap .table tr th:nth-of-type(8), .table-wrap .table tr td:nth-of-type(8) {
    width: 8%;
}
.table-wrap .table tbody tr {
    border-top: 1px solid rgba(0,0,0,0.04);
    height: 68px;
}
.table-wrap .table tbody td {
    height: 56px;
}
.table-wrap .table tr td:nth-of-type(1) {
    padding-left: 10px;
    white-space: nowrap;
}
.table-wrap .table tr th:nth-of-type(1), .table-wrap .table tr td:nth-of-type(1) {
    width: 24%;
    text-align: left;
}
.match-container .avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.table-wrap .table .player {
    width: 44px;
    height: 44px;
    position: relative;
    z-index: 1;
    margin-right: -10px;
}
.match-container .avatar img {
    display: block;
    width: 100%;
    height: 100%;
}
.table-wrap .table .hero {
    width: 44px;
    height: 44px;
    position: relative;
    overflow: visible;
}
.table-wrap .table .hero img {
    border-radius: 50%;
}
.table-wrap .table .hero .lv {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: 0 4px 8px -3px rgb(0 0 0 / 12%);
    background: #fff;
    color: #373a41;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    bottom: -3px;
    right: -3px;
}
 .avatar img {
    display: block;
    width: 100%;
    height: 100%;
}
.mid {
    display: inline-block;
    vertical-align: middle;
}
.property-img {
    margin: 0 auto;
    background: url() no-repeat center;
    background-size: cover;
}
.table-wrap .table .property-img {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    overflow: hidden;
} 
.property-img1{
    margin: 3px 0 0 12px;
}
.property-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.table-wrap .table.blue thead tr {
    background: #0C8DFC;
    /* background: linear-gradient(135deg,#ff4c6a 0%,#ff6b89 100%); */
}
.table>thead>tr>th{
    border-bottom: 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    vertical-align: middle;
}
.kda .p1,.hits.p1{
    font-size: 18px;
    color: #333;
}
.kda .p2,.hits .p2{
    font-size: 16px;
    color: #999;
}
.damage p{
    font-size: 18px;
    color: #333;
}
.table-wrap .table.blue tbody tr:nth-child(even) {
    background: #F1F9FF;
}
.table-wrap .table.red tbody tr:nth-child(even) {
    background: #FFF9F7;
}
  /* 移动 */
  @media only screen and (max-width: 1024px){
    .game_title{
        width: 100%;
    }
    .game_left{
        width: 100%;
    }
    .game_detail{
        width: 100%;
    }
  }