.header {
    box-shadow: -5px 6px 30px 0px rgb(51 51 51 / 8%);
    margin-bottom: 30px;
}
.game_left{
    width: 860px;
    float: left;
}
.wrapper{
    background: #F5F6F7;
    padding-bottom: 80px;
}
.calendar_top{
    position: relative;
    margin-bottom: 28px;
}
.min_calendar{
    height: 174px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    font-size: 0;
    padding: 20px;
    margin-bottom: 20px;
    display: none;
}
.min_calendar.active{
    display: block;
}
.war_calendar_img{
    width: 24px;
    height: 22px;
    margin-right: 10px;
    font-size: 0;
}
.war_calendar{
    display: flex;
    align-items: center;
}
.war_calendar span{
    font-size: 20px;
    color: #333;
}
.open_calendar,.stop_calendar{
    font-size: 18px;
    color: #999;
}
.time1{
    font-size: 20px;
    color: #333;
    text-align: center;
    line-height: 20px;
    height: 20px;
    width: 60%;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -30%;
}
.icon-shangyige{
    font-size: 22px;
    color: #999;
}
.icon-xiayige{
    font-size: 20px;
    color: #999;
}
.min_calendar_bottom{
    position: relative;
    height: 96px;
}
.calendar1 a{
    font-size: 18px;
    color: #333;
    height: 18px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendar1 a span.week{
    margin-bottom: 18px;
}
.calendar1 li span.time2{
    width: 90px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 20px;
    line-height: 38px;
    text-align: center;
}
.calendar1 li span.grey{
    width: 90px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 20px;
    line-height: 38px;
    text-align: center;
    color: #999;
}
.calendar1 li.active span.time2{
    width: 90px;
    height: 40px;
    border: 1px solid #FA8E69;
    color: #FF6649;
    border-radius: 20px;
    line-height: 38px;
    text-align: center;
}
.calendar1{
    width: 100%;
    padding: 0 50px;
    position: absolute;
    left: 0;
}
.calendar1 ul{
    display: flex;
    justify-content: space-between;
}
.min_calendar_bottom .left{
    position: absolute;
    bottom:22px;
    left: 0;
}
.min_calendar_bottom .right{
    position: absolute;
    right: 0;
    bottom:22px;
}
.next_week,.next_year{
    transform: rotate(180deg);
}
.max_calendar{
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding:20px;
    position: relative;
    display: none;
}
.max_calendar.active{
    display: block;
    margin-bottom: 20px;
}
.time3{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 60%;
    text-align: center;
    left: 50%;
    margin-left: -30%;
}
.time3 .year{
    margin-right: 30px;
}
.time3 .year span{
    font-size: 18px;
}
.time3 .month span{
    font-size: 18px;
}
.time3 .icon-shangyige{
    margin-right: 10px;
}
.time3 .icon-xiayige{
    margin-left: 10px;
}
.max_calendar_bottom .left,.max_calendar_bottom .right{
    width: 32px;
    height: 280px;
    background: #F5F6F7;
    border-radius: 8px;
    line-height: 280px;
    text-align: center;
    border:1px solid rgba(0,0,0,0);
    margin-top: 36px;
}
.max_calendar_bottom .left.active,.max_calendar_bottom .right.active{
    background: #FFF9F7;
    border: 1px solid #FF5E49;
    border-radius: 8px;
}
.max_calendar_bottom .left.active i,.max_calendar_bottom .right.active i{
    color: #FF6649;
}
.max_calendar .calendar_top{
    margin-bottom: 30px;
}
.max_calendar_bottom{
    position: relative;
}
.max_calendar_table{
    /* position: absolute; */
    padding: 0 52px;
    width: 100%;
}
.calendar th,.calendar td{
    font-weight: 400;
    font-size: 18px;
    color: #333;
    width: 14.2%;
    text-align: center;
}
.calendar table{
    width: 100%;
}
.calendar th a{
    display: block;
    margin-bottom: 18px;
}
.calendar td a{
    display: block;
    width: 90px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    text-align: center;
    line-height: 38px;
    margin-bottom: 18px;
}
.calendar td.grey a{
    color: #999;
}
.calendar td.active a{
    display: block;
    border: 1px solid #FF6649;
    color: #FF6649;
}

/* 日历结束 */
.game3_detail .game3_detail_ul li{
    float: left;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.game3_detail .game3_detail_ul a{
    font-size: 20px;
    color: #FF6649;
    padding: 0 20px;
}
.game3_detail .game3_detail_ul li.active a{
    display: block;
    background: #FF6649;
    border-radius: 20px;
    color: #fff;
}
.game3_days{
    /* background: #fff; */
}
.one_day{
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
    border-bottom: 0;
    border-radius: 8px;
    margin-bottom: 20px;
}
.one_day_top{
    height: 73px;
    border-bottom: 1px solid #eee;
    line-height: 72px;
    padding-left: 20px;
}
.game3_detail_calendar1{
    font-size: 26px;
    color: #333;
    vertical-align: middle;
    margin-right: 10px;
}
.game3_detail_calendar2{
    font-size: 18px;
    color: #999;
    vertical-align: middle;

}
.game3_detail_calendar2.active{
    width: 55px;
    height: 32px;
    background: linear-gradient(135deg, #FFA94C, #FF874C, #FF3B3B);
    border-radius: 8px;
    color: #fff;
    display: block;
    margin-top: 20px;
    line-height: 32px;
    text-align: center;
}
.one_day_botitem{
    /* height: 187px; */
    padding-top: 33px;
}
.li_bg{
    width: 850px;
    height: 31px;
    position: absolute;
    bottom: -27px;
    display: none;
}
.one_day_botitem.active,.one_day_botitem:hover{
    position: relative;
}
.one_day_botitem.active .li_bg,.one_day_botitem:hover .li_bg{
    display: block;
}
.one_day_botitem:hover .game3_game_item{
    border-bottom: 1px solid rgba(0,0,0,0);
}
.game3_classify{
    padding-right: 20px;
}
.game3_classify1{
    font-size: 20px;
    color: #333;
    position: relative;
    padding-left: 30px;
    line-height: 36px;
    margin-bottom: 20px;
}
.game3_classify1::after{
    content: "";
    display: block;
    clear: both;
    width: 20px;
    height: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    left: 0;
    background: #FF6649;
    top:11px;
}
.game3_classify2{
    padding-left: 20px;
}
.game3_classify2_detail{
    padding: 0 16px 0 10px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 19px;
    line-height: 36px;
}
.game3_team_img{
    width: 28px;
    height: 30px;
    margin-right: 10px;
    margin-top: 3px;
}
.game3_team_img img{
    display: block;
}
.game3_classify2 span{
    font-size: 18px;
    color: #666;
}

.game3_days_item{
    display: none;
}
.game3_days_item.active{
    display: block;
}
.lol .game3_classify2,.kpl .game3_classify2,.dota2 .game3_classify2{
margin-top: 20px;
margin-right: 20px;
}
.lol .game3_classify,.kpl .game3_classify,.dota2 .game3_classify{
    display: none;
}
.lol .one_day_top,.kpl .one_day_top,.dota2 .one_day_top{
    border-bottom: 0;
}
.max_calendar_bottom .left, .max_calendar_bottom .right{
    position: absolute;
    bottom: 20px;
}
 .max_calendar_bottom .right{
     right: 0;
 }
@media only screen and (max-width: 1024px){
    .game_left{
        background: #F5F6F7;
        width:100%;
    }
     .game_right{
        float: right;
    }
    .calendar1{
        padding: 0 .3rem;
    }
    .max_calendar_table{
        padding: 0 .5rem;
    }
    .calendar1 li span.time2{
        width: .72rem;
    }
    .calendar td a{
        width: 100%;
    }
    .calendar1 li.active span.time2{
        width: .9rem;
    }
    .time3 .year span{
        font-size: .24rem;
    }
    .time3 .month span{
        font-size: .24rem;
    }
}