.header {
    box-shadow: -5px 6px 30px 0px rgb(51 51 51 / 8%);
    margin-bottom: 30px;
}
.game_left{
    width: 860px;
    float: left;
}
.wrapper{
    background: #F5F6F7;
    padding-bottom: 80px;
}
.min_calendar{
    height: 170px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
}