
@media only screen and (min-width: 1024px){
    
.dn_pc{
    display: none;
}
}
/* CSS Document */
/*点赞*/
@-webkit-keyframes niceIn {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.5);
		transform: scale(1.5)
	}
	70% {
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
@-webkit-keyframes{
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5)
	}
	70% {
		-webkit-transform: scale(.8);
		-ms-transform: scale(.8);
		transform: scale(.8)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}
@-moz-keyframes{
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		     transform: scale(1)
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-moz-transform: scale(1.5);
		     transform: scale(1.5)
	}
	70% {
		-webkit-transform: scale(.8);
		-ms-transform: scale(.8);
		-moz-transform: scale(.8);
		     transform: scale(.8)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		     transform: scale(1)
	}
}
@-o-keyframes{
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		   transform: scale(1)
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
		   transform: scale(1.5)
	}
	70% {
		-webkit-transform: scale(.8);
		-ms-transform: scale(.8);
		-o-transform: scale(.8);
		   transform: scale(.8)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		   transform: scale(1)
	}
}
@keyframes{
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		  -o-transform: scale(1);
		     transform: scale(1)
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-moz-transform: scale(1.5);
		  -o-transform: scale(1.5);
		     transform: scale(1.5)
	}
	70% {
		-webkit-transform: scale(.8);
		-ms-transform: scale(.8);
		-moz-transform: scale(.8);
		  -o-transform: scale(.8);
		     transform: scale(.8)
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		  -o-transform: scale(1);
		     transform: scale(1)
	}
}

@-o-keyframes niceIn{
	0% {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 1;
		-o-transform: scale(1.5);
		transform: scale(1.5)
	}
	70% {
		-o-transform: scale(.8);
		transform: scale(.8)
	}
	100% {
		opacity: 1;
		-o-transform: scale(1);
		transform: scale(1)
	}
} 

@-moz-keyframes niceIn{
	0% {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1)
	}
	50% {
		opacity: 1;
		-moz-transform: scale(1.5);
		transform:scale(1.5)
	}
	70% {
		-o-transform: scale(.8);
		-moz-transform: scale(.8);
		     transform: scale(.8)
	}
	100% {
		opacity: 1;
		-moz-transform: scale(1);
		transform: scale(1)
	}
}
.niceIn {
	-webkit-animation:niceIn 0.8s .2s ease;
	-moz-animation:niceIn 0.8s .2s ease;
	-o-animation:niceIn 0.8s .2s ease;
	animation:niceIn 0.8s .2s ease;
}
/* 点赞 */

.team_explain_bottom p{
    margin-bottom: 6px;
}
.team_explain_bottom p span{
    color: #FF6649;
}
.left_bg{
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}
.schedule{
    position: relative;
}
.right_bg{
    position: absolute;
    top: 0;
    right: 0;
}
.team_explain_top .name{
    font-size: 36px;
}
.team_pbu_name{
    font-weight: 500;
}
.format{
    /* height: 324px; */
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    background-image:url("../images/format_bg.png") ;
    background-repeat: no-repeat;
    background-position: right top;
    padding: 30px 20px;
}
.format_p{
    border: 1px solid #FF6649;
    border-radius: 4px;
    height: 28px;
    line-height: 28px;
    color: #FF6649;
    font-size: 18px;
    display: inline-block;
    padding: 0 12px;
    margin-bottom: 18px;
}
.format_div p{
    font-size: 18px;
    color: #333;
    line-height: 24px;
}
.format_div p span{
    color: #FF6649;
}
.format_div{
    margin-bottom: 30px;
}
.format_div1{
    margin-bottom: 0;
}
.dota2_teams li{
    padding: 8px;
    width: 98px;
    float: left;
    height: 98px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-image: url("../images/dota2_team_bg.png");
}
.dota2_teams li:nth-child(10n){
    margin-right: 0;
}
.game_team_img{
    width: 82px;
    height: 82px;
    display: block;
    margin: 0 auto;
}
.hot_team{
    padding: 20px 18px 0 20px;
}
.prizePool{
    background-image: url("../images/pool.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 562px;
    padding-top: 40px;
    -o-background-size: 100%;
       background-size: 100%;
}
.prizePool .title{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
}
.money *{
    font-family: shuzi;
    color: #fff;
    display: inline-block;
}
.money{
    text-align: center;
    /* height: 98px; */
    margin-bottom: 34px;
}
.money span{
    background-image: url("../images/money_bg.png");
    width: 98px;
    height: 98px;
    font-size: 108px;
    line-height: 98px;
    text-align: center;
    -o-background-size: contain;
       background-size: contain;
    margin-right: 8px;
}
.money i{
    font-size: 52px;
    margin-right: 11px;
    vertical-align: bottom;
    height: 32px;
    line-height: 32px;
}
.money span:nth-last-child(4){
    font-size: 96px;
    color: #F8E8B6;
    background: rgba(0,0,0,0);
    width: auto;
}
.money span:nth-last-child(8){
    font-size: 96px;
    color: #F8E8B6;
    background: rgba(0,0,0,0);
    width: auto;
}
.money span:nth-last-child(12){
    font-size: 96px;
    color: #F8E8B6;
    background: rgba(0,0,0,0);
    width: auto;
}
.prizePool .champion p{
    font-family: shuzi;
    font-size: 52px;
    color: #fff;
    height: 38px;
    line-height: 52px;
    margin-bottom: 10px;
}
.champion{
    text-align: center;
    margin-bottom: 34px;
}
.prizePool .champion span{
    font-size: 20px;
    color: #ccc;
}
.other,.others{
    text-align: center;
}
.other{
    margin-bottom: 34px;
}
.other .other_div p{
    font-size: 32px;
    color: #fff;
    font-family: shuzi;
    height: 24px;
    line-height: 24px;
    /* margin-bottom: 6px; */
}
.other .other_div,.others .others_div{
    display: inline-block;
}
.other .other_div span{
    font-size: 20px;
    color: #ccc;
    line-height: 24px;
    height: 24px;
}
.other_mr{
    margin-right: 94px;
}
.others_div p{
    font-size: 26px;
    color: #fff;
    font-family: shuzi;
    height: 20px;
    line-height: 20px;
    /* margin-bottom: 6px; */
}
.others_div{
    margin-right: 86px;
}
.others_div:nth-last-child(1){
    margin-right: 0;
}
.others_div span{
    font-size: 20px;
    color: #ccc;
    line-height: 24px;
    height: 24px;
}
.thumbsUp{
    height: 468px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    padding: 20px;
}
.top_one{
    width: 348px;
    height: 376px;
    background-image: url("../images/top.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
    margin-bottom: 16px;
    display: inline-block;
}
.top_one .team{
    width: 128px;
    height: 128px;
    margin: 0 auto;
    position: relative;
}
.thumbstop{
    position: absolute;
    top: -30px;
    left: -20px;
}
 .top_one .top_name{
    text-align: center;
    padding: 0 20px;
    font-size: 24px;
    color: #333;
    height: 18px;
    line-height: 18px;
    margin-bottom: 32px;
    overflow:hidden;
    -o-text-overflow:ellipsis;
       text-overflow:ellipsis;
    white-space: nowrap
}
#btn1{
    width: 280px;
    height: 52px;
    border-radius: 26px;
    /* text-align: center; */
    background: #F7F4EC;
    position: relative;
    margin: 0 auto;
}
.btn1{
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #A08046;
    vertical-align: middle;
    text-align: center;
    line-height: 52px;
}
#btn1 .i{
   font-size: 28px;
   color: #FFFBEB;
    display: block;
}
#btn1 .likes{
    font-size: 24px;
    color: #7A5F36;
    position: absolute;
    width: 220px;
    padding-left: 50px;
    line-height: 52px;
    height: 52px;
    display: inline-block;
}
.num{
    display: none;
}
.top_one{
    margin-right: 20px;
}
.top_right{
    height: 376px;
}
.top_two{
    width: 300px;
    height: 230px;
    background-image: url("../images/top_two_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    padding-top: 30px;
}
.top_thre{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 126px;
    background-image: url("../images/top_thre_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 22px 20px 22px 36px;
}
/* .top_twoimg{
    width: 88px;
    height: 88px;
} */
.top_two .team{
    position: relative;
    width: 88px;
    height: 88px;
    margin: 0 auto;
    margin-bottom: 14px;
}
.thumbstwo{
    position: absolute;
    left: -30px;
    top: -26px;
}
.two_name{
    font-size: 20px;
    height: 16px;
    line-height: 16px;
    padding: 0 20px;
    text-align: center;
    color: #333;
    margin-bottom: 14px;
    overflow:hidden;
    -o-text-overflow:ellipsis;
       text-overflow:ellipsis;
    white-space: nowrap
}
#btn2{
    width: 240px;
    height: 48px;
    background: #eee;
    font-size: 0;
    margin: 0 auto;
    border-radius: 24px;
}
.btn2{
    width: 48px;
    height: 48px;
    background: #B2B2B3;
    border-radius: 50%;
    line-height: 48px;
    text-align: center;
    display: inline-block;
}
.btn2 .i{
    font-size: 24px;
    color: #fff;
    display: block;
}
#btn2 .likes{
    width: 192px;
    padding-left: 50px;
    /* text-align: center; */
    display: inline-block;
    font-size: 24px;
    color: #333;
}
.top_thre .team{
    position: relative;
}
.thumbsthree{
    position: absolute;
    width: 80px;
    height: 80px;
    left: -20px;
    top: -20px;
    width: 44px;
    height: 44px;
}
.top_thre .three_detali{
    padding-left: 12px;
    padding-top: 6px;
    font-size: 0;
}
.thre_name{
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    overflow:hidden;
    -o-text-overflow:ellipsis;
       text-overflow:ellipsis;
    white-space: nowrap;
    width: 150px;
    color: #333;
    margin-bottom: 16px;
}
#btn3{
   width: 140px;
   height: 36px; 
   background: #FBF0F0;
   line-height: 36px;
   border-radius: 18px;
   font-size: 0;
}
.btn3{
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
    background: #A75A4D;
    border-radius: 50%;
    display: inline-block;
}
.btn3 i{
    font-size: 20px;
    color: #fff;
    display: block;
}
#btn3 .likes{
    width: 104px;
    font-size: 20px;
    color: #8B3E31;
    display: inline-block;
    text-align: center;
}
.thumb_others{
    width: 472px;
    height: 376px;
    border: 1px solid #eee;
}
.thumb_others li{
    padding: 10px 20px;
}
.ranking_span{
    font-size: 18px;
    color: #666;
    margin-right: 20px;
    vertical-align: middle;
}
.thumb_others_img{
    width: 42px;
    height: 42px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}
.thumb_others_img img{
    width: 42px;
    /* height: 42px; */
    display: block;
    position: absolute;
    left: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    top: 0;
}
.thumb_others_name{
    width: 120px;
    overflow:hidden;
    -o-text-overflow:ellipsis;
       text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 18px;
    display: inline-block;
    color: #333;
    vertical-align: middle;
}
.btn4{
    width: 36px;
    height: 36px;
    background: #C5A96F;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    position: absolute;
    left: 0;
    top: -3px;
}
.thumb_others .likes{
    width: 122px;
    height: 30px;
    background: #F7F4EC;
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    font-size: 16px;
    color: #333;
    padding-left: 10px;
    line-height: 30px;
}
.btn_others{
    width: 158px;
    display: inline-block;
    float: right;
    font-size: 0;
    height: 30px;
    background: #F7F4EC;
    border-radius: 15px;
    position: relative;
    padding-left: 36px;
    vertical-align: middle;
    margin-top: 3px;
}
.btn4 .i{
    font-size: 20px;
    color: #fff;
    display: block;
}
.thumb_others{
    height: 376px;
    overflow-y: scroll;
    padding-top: 6px;
}
 /*滚动条整体样式*/
.thumb_others::-webkit-scrollbar {
    width: 4px;
    height: 1px;
}
/*滚动条滑块*/
.thumb_others::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-event_detail_content-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #ccc;
    height: 168px;
}
/*滚动条轨道*/
.thumb_others::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
    border-radius: 4px;
    background: rgba(0,0,0,0);
}
.team_news_img p{
    font-size: 20px;
    font-weight: 500;
}
.team_news{
    height: auto;
}
.team_news_bot_ul li a{
    font-size: 16px;
}
.team_news_bot_ul li{
    height: 56px;
    line-height: 56px;
}
@media only screen and (max-width: 1024px){
    .container{
        width: 100%;
    }
    .team_logo_img{
        width: 1.22rem;
        height: 1.18rem;
    }
    .format_p{
        font-size: .28rem;
        padding: 0 .14rem;
        height: .42rem;
        line-height: .42rem;
        margin-bottom: .28rem;
    }
    .team_pbu_name{
        font-size: .28rem;
        height: .3rem;
        line-height: .3rem;
    }
    .team_pub_top{
        margin-bottom: .3rem;
    }
    .format_div p{
        font-size: .24rem;
        line-height: .32rem;
    }
    .format_div{
        margin-bottom: .24rem;
    }
    .format{
        -o-background-size: 4.8rem 3.8rem;
           background-size: 4.8rem 3.8rem;
    }
    .team_news_bot_ul li{
        height: .72rem;
        line-height: .72rem;
        padding: 0;
    }
    .team_news_bot_ul li a{
        color: #333;
        font-size: .24rem;
    }
    .dota2_teams li{
        width: .98rem;
        height: .98rem;
        margin-right: .2rem;
    }
    .dota2_teams li:nth-child(6n){
        margin-right: 0;
    }
    .dota2_teams li:nth-child(10n){
        margin-right: .2rem;
    }
    .hot_team,.team_news,.format{
        padding: .3rem .3rem 0 .3rem;
    }
    .money span{
        width: .6rem;
        height: .6rem;
        font-size: .68rem;
        line-height: .6rem;
        margin-right: .05rem;
    }
    .money i{
        font-size: .32rem;
    }
    .money em{
        font-size: .5rem;
    }
    .money{
        height: .6rem;
        margin-bottom: .2rem;
    }
    .prizePool .champion p{
        font-size: .32rem;
        margin-bottom: .06rem;
        height: .24rem;
        line-height: .24rem;
    }
    .prizePool .champion span{
        font-size: .2rem;
        height: .2rem;
        line-height: .2rem;
    }
    .other .other_div p{
        font-size: .24rem;
        height: .17rem;
        line-height: .17rem;
        margin-bottom: .06rem;
    }
    .other .other_div span{
        font-size: .2rem;
        height: .2rem;
        line-height: .2rem;
    }
    .others_div p{
        font-size: .2rem;
        height: .15rem;
        line-height: .15rem;
    }
    .others_div{
        margin-right: .3rem;
    }
    .prizePool{
        height: 3.52rem;
    }
    .champion{
        margin-bottom: .14rem;
    }
    .prizePool{
        padding-top: .14rem;
    }
    .prizePool .title{
        margin-bottom: .1rem;
    }
    .other {
        margin-bottom: .14rem;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
        padding: 0 .2rem;
    }
    .other_mr {
        margin-right: 0;
    }
    .others_div span{
        font-size: .2rem;
        height: .2rem;
        line-height: .2rem;
    }
    .top_threes{
        width: 100%;
        padding: 0 .1rem;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-align-items: flex-end;
           -moz-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
    .top_two,.top_three{
        width: 2.2rem;
        height: 1.72rem;
        background-image: url('../images/wap_two.png');
        background-repeat: no-repeat;
        background-position: center;
        -o-background-size: 100%;
           background-size: 100%;
        margin: 0;
        padding: 0;
        padding-top: .22rem;
    }
    .top_three{
        background-image: url('../images/wap_three.png');
    }
    .top_one{
        width: 2.2rem;
        height: 2.4rem;
        background-image: url('../images/wap_one.png');
        background-repeat: no-repeat;
        background-position: center;
        -o-background-size: 100%;
           background-size: 100%;
        margin: 0;
        padding: 0;
    }
    .thumbsUp{
        height: 9.38rem;
    }
    #btn2_1,#btn3_1{
        width: 1.8rem;
        height: .32rem;
        margin: 0 auto;
        font-size: 0;
        border-radius: .16rem;
    }
    #btn2_1{
        background: #eee;
    }
    #btn3_1{
        background: #F7F1EC;
    }
    .btn2,.btn3{
        width: .32rem;
        height: .32rem;
        text-align: center;
        line-height: .3rem;
        vertical-align: middle;
    }
    .btn2 .i,.btn3 .i{
        font-size: .18rem;
    }
    #btn2_1 .likes,#btn3_1 .likes{
        width: 1.48rem;
        font-size: .24rem;
        padding-left: .3rem;
        vertical-align: middle;
        text-align: left;
        display: inline-block;
        height: .32rem;
        line-height: .32rem;
        color: #333;
    }
    .top_two .team,.top_three .team{
        width: .58rem;
        height: .58rem;
        margin-bottom: 0;
        position: relative;
        margin: 0 auto;
    }
    .top_twoimg{
        /* width: .58rem; */
        height: .38rem;
    }
    .thumbstwo{
        height: .32rem;
        width: .32rem;
        left: -.22rem;
        top: -.12rem;
    }
    .two_name{
        width: 1.58rem;
        height: .24rem;
        font-size: .26rem;
        line-height: .24rem;
        overflow:hidden;
        -o-text-overflow:ellipsis;
           text-overflow:ellipsis;
        white-space: nowrap;
        padding: 0;
        text-align: center;
        margin: 0 auto;
        margin-bottom: .08rem;
    }
    .top_one{
        padding-top: .46rem;
    }
    .top_one .team{
        width: .8rem;
        height: .8rem;
        margin-bottom: .06rem;
    }
    .top_oneimg{
        width: .8rem;
        /* height: .8rem; */
    }
    .thumbstop{
        width: .32rem;
        height: .32rem;
        left: -.12rem;
        top: -.18rem;
    }
    .top_one .top_name{
        font-size: .26rem;
        height: .2rem;
        line-height: .2rem;
        color: #333;
        margin-bottom: .24rem;
    }
    #btn1_1{
        width: 1.8rem;
        height: .32rem;
        background: #F7F4EC;
        border-radius: .16rem;
        font-size: 0;
        margin: 0 auto;
    }
    .btn1{
        width: .32rem;
        height: .32rem;
        text-align: center;
        line-height: .3rem;
    }
    #btn1_1 .i{
        font-size: .18rem;
        color: #fff;
        display: block;
    }
    #btn1_1 .likes{
        width: 1.48rem;
        font-size: .24rem;
        height: .32rem;
        line-height: .32rem;
        padding-left: .24rem;
        color: #333;
        display: inline-block;
        vertical-align: middle;
    }
    .thumb_others{
        border: 0;
        width: 100%;
        height: 6rem;
        padding-top: .1rem;
    }
    .thumb_others li{
        padding: .16rem .1rem;
    }
    .ranking_span{
        font-size: .24rem;
    }
    .thumb_others_img img{
        width: .54rem;
        height: .54rem;
    }
    .thumb_others_img{
        width: .54rem;
        height: .54rem;
        margin-right: .12rem;
    }
    .thumb_others_name{
        width: 1.58rem;
        font-size: .24rem;
    }
    .btn_others{
        width: 1.8rem;
        height: .32rem;
        margin-top: .11rem;
    }
    .btn4{
        width: .32rem;
        height: .32rem;
        text-align: center;
        line-height: .3rem;
        top: 0;
    }
    .btn4 .i{
        font-size: .18rem;
    }
    .thumb_others .likes{
        padding-left: .32rem;
        font-size: .2rem;
        line-height: .32rem;
        height: .32rem;
    }
    .hot_match_bot .imgauto1{
        width: 100%;
    }
    .hot_match_bot li a{
        overflow: hidden;
    }
    .team_news_img p{
        font-size: .28rem;
    }
    .team_explain_top .name{
        margin-bottom: .1rem;
    }
    .team_explain_bottom p{
        margin-bottom: .1rem;
    }
    /* 2021.6.22新增 */
    .champion{
        display: flex;
        flex-direction: column;
    }
    .other .other_div{
        display: flex;
        flex-direction: column;
    }
    .other .other_div, .others .others_div{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
   .others{
       padding: 0 .2rem;
       display: flex;
       justify-content: space-between;
   }
   .money {
        display: flex;
        justify-content: center;
    }
    .prizePool .champion p{
        margin-bottom: .1rem;
    }
    .other .other_div p{
        margin-bottom: .1rem;
    }
    .others_div p{
        margin-bottom: .1rem;
    }
    .other{
        margin-bottom: .1rem;
    }
    /* 2021.6.22新增 */
    .dn_wap{
        display: none;
    }
}
