.wrapper{
    background: #F5F6F7;
}
.header{
background: #FFFFFF;
margin-bottom: 30px;
box-shadow: -5px 6px 30px 0px rgba(51, 51, 51, 0.08);
}
.game_left{
    width: 860px;
    margin-bottom: 80px;
}
.esports_ul li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-bottom: 32px;
    margin-right: 10px;
}
.esports_ul a {
    font-size: 20px;
    color: #FF6649;
    padding: 0 20px;
}
.esports_ul li.active a {
    display: block;
    background: #FF6649;
    border-radius: 20px;
    color: #fff;
}
.news_detail{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    padding: 20px;
}
.news_img{
    width: 120px;
    height: 74px;
    display: inline-block;
}
.imgauto{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.news_title{
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    color: #333;
    font-weight: 500;
    margin-bottom: 12px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 500px;
}
.news_detail_item{
    display: none;
}
.news_detail_item.active{
    display: block;
}
.news_explain{
    font-size: 16px;
    color: #666;
    line-height: 22px;
}
.have_img{
    width: 670px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
}
.news_explain_content{
    width: 100%;
    height: 46px;
    display: -webkit-box; 
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;/*5代表, 在第5行结尾出现省略号,后面的内容都不显示*/
    overflow: hidden;
    text-overflow:ellipsis;
}
.news_item li{
    height: 114px;
    border-bottom: 1px solid #eee;
    padding-top: 20px;
}
.news_item{
    margin-bottom: 30px;
}
/* 新闻详情页 */
.news_top{
    margin-bottom: 30px;
}
.news_top{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    padding: 20px;
}
.news_top .title{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
    width: 600px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin-bottom: 16px;
}
.news_time{
    font-size: 18px;
    color: #999;
    height: 18px;
    line-height: 18px;
    margin-bottom: 18px;
}
.news_label{
    padding-top: 30px;
    width: 700px;
    margin-bottom: 10px;
}
.news_label span{
    float: left;
    font-size: 18px;
    color: #FF6649;
    font-weight: 400;
    line-height: 26px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #FF6649;
    border-radius: 14px;
    padding: 0 16px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.news_top_content{
    word-break: break-all;
    text-align: justify;
    width: 100%;
    border-top: 1px solid #eee;
    padding-top: 28px;
}
.news_top_img{
    width: 820px;
    height: 460px;
    margin-bottom: 20px;
}
.news_top_content p{
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
    text-indent: 2em;
}
.news_top_content{
	width:820px;
}
.news_top_content img{
	object-fit:cover;
	width:100%;
	height:100%;
	display:block;
	margin:20px 0;
}
.team_pub_top{
    margin-bottom: 10px;
}
.team_pub_img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    font-size: 0;
}
.team_pbu_name{
    font-size: 24px;
    color: #333;
    height: 24px;
    line-height: 24px;
}
/* 2021.6.2新增 */
.news_top_content *{
    word-break: break-all;
    text-align: justify;
    font-size: 18px !important;
    color: #333!important;
    margin-bottom: 20px;
    text-indent: 2em;
}
.news_top_content p br{
    display: none;
}
/* 2021.6.2新增 */
/* 新闻详情页 */
@media only screen and (max-width: 1024px){
    .game_left{
        width: 100%;
    }
    .have_img{
        width: 5rem;
    }
    .news_title{
        width: 5rem;
    }
    .news_top_img{
        width: 100%;
    }
    .news_top_content p{
        font-size: .24rem;
        line-height: .36rem;
    }
	.news_top_content{
		width:100%;
	}
	.news_top_content p span{
		font-size: .24rem !important;
		line-height: .36rem;
		font-weight: 400;
		color: #333;
	}
    .news_top_content * {
        word-break: break-all;
        text-align: justify;
        font-size: .24rem!important;
        color: #333!important;
        margin-bottom: .2rem;
        text-indent: 2em;
        font-family: shuzi1!important;
    }
    .news_time {
        font-size: .22rem;
        color: #999;
        height: .22rem;
        line-height: .22rem;
        margin-bottom: .22rem;
    }
    .news_label span {
        float: left;
        font-size: .22rem;
        color: #FF6649;
        font-weight: 400;
        line-height: .38rem;
        height: .4rem;
        background: #FFFFFF;
        border: .01rem solid #FF6649;
        border-radius: .2rem;
        padding: 0 .2rem;
        margin-right: .16rem;
        margin-bottom: .2rem;
    }
}