/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
     /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none;color: #fff;outline: none; }
a:hover { text-decoration: none;}

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }
a:visited {
    text-decoration: none;
}
a:focus{text-decoration: none}
a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix:after{
    content: " ";
    display: block;
    clear: both;
    overflow: hidden;
    height: 0;
    visibility: hidden;
}
*{
    box-sizing: border-box;
    text-shadow: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-style: normal;
    vertical-align: baseline;
    *zoom: 1;
    _zoom: 1;
    -webkit-text-size-adjust: none;
}
a:focus{text-decoration: none}
/* 去掉 container内边距*/
/* .container {
    padding-right:0;
    padding-left:0;
} */

.imgauto{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
@media (min-width: 1200px){
    .container {
        width: 1200px;
        /* padding-left: 0;
        padding-right: 0; */
    }
}
/*声明 思源字体-Light*/
@font-face {
    font-family: "shuzi";
    src: url("../font/shuzi.ttf") format("truetype");
  }
/* 热门赛事 */
  .game_match_ul{
    min-height: 304px;
    display: flex;
    flex-wrap: wrap;
}
.bg1{
  background: url("../images/bg_1.png") no-repeat right bottom;
}
.game_match_ul li{
  padding: 0px 16px 19px 16px;
  margin-bottom: 46px;
  border-bottom: 6px solid ;
  border-color: rgba(0,0,0,0);
  transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.game_match_ul li:hover{
    box-shadow: 0px 16px 40px 0px rgba(51, 51, 51, 0.14);
    border-radius: 4px;
    border-bottom: 6px solid #ff6649;
    transform: translateY(0px);
}
.game_match_ul li:hover a{
    display: block;
    color: #333;
    background-image: url("../images/game_tab1.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.game_match_ul li:hover{
    justify-content: center;
}
.game_match_top{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.game_match_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.game_match_img{
    width: 54px;
    height: 54px;
}
.game_match_img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.game_match_top span{
    font-size: 16px;
    color: #999;
    word-wrap: break-word;
    word-break: normal;
    max-width: 45%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap
  /*  */
}
.game_match_bottom .left{
    display: flex;
  float: left;
  font-size: 14px;
  font-weight: 900;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}
.game_match_bottom .ov_1 span{
    max-width: 98px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.game_match_bottom .center{
    padding:0 8px;
}
/* 热门赛事 */

/* 热门战队 */
.game_team_list_detail{
    display: flex;
    flex-wrap: wrap;
	/* justify-content: space-around; */
}
.game_team_list_detail .a1{
    width: 124px;
    height: 114px;
}
.game_team_list_detail .a1 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.game_team_list_detail li{
    width: 128px;
    height: 182px;
    display: flex;
    margin-right: 36px;
    border-radius: 8px;
    transition: all 0.2s linear;
    margin-bottom: 10px;
    padding: 2px;
}
.game_team_list_detail li:nth-child(7n){
    margin-right: 0;
}
.game_team_list_detail li .a1{
    padding:14px 12px 0 12px;
}
.game_team_list_detail li a{
    border-radius: 8px;
    width: 100%;
}
.game_team_list_detail li span{
    width: 100%;
    height: 48px;
    text-align: center;
    font-weight: 500;
    display: block;
    color:#333;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap
} 
.game_team_list_detail li:hover span{
    background: linear-gradient(90deg, #FAC569, #FF6551);
    color: #fff;
    line-height: 48px;
}

.game_team_list_detail li:hover{
    box-sizing: border-box;
    background: linear-gradient(90deg, #FAC569, #FF6551);
    transform: translateY(0px);

}
.game_team_list_detail li:hover a{
    border-radius: 6px;
    background: #FFFFFF;
    margin: 0 auto; 
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #FE7A00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 热门战队 */
/* null */
.null{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.null img{
    margin-bottom: 10px;
}
.null span{
    font-size: 18px;
    color: #999;
}
/* 分页 */
.paging{
    display: flex;
    justify-content: center;
}
.paging_pre img{
    width: 34px;
    height: 34px;
    display: none;
}
.paging_pre{
    margin-right: 4px;
    width: 34px;
    height: 34px;
}
.paging_next img{
    width: 34px;
    height: 34px;
    display: none;
}
.paging_pre img.active,.paging_next img.active{
    display: block;
}
.img_transform{
    transform: rotate(180deg);
}
.paging a{
    float: left;
}
.paging .paging_num{
    width: 34px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 32px;
    margin-right: 4px;
}
.paging .paging_num.active{
background: #FF6649;
color: #fff;
}
/* 分页 */
/* 右侧悬浮窗 */
.suspension{
    position: fixed;
    top: 200px;
    right: 30px;
    z-index: 999;
}
.suspension_img{
    /* box-shadow: 0px 4px 12px 0px rgba(51, 51, 51, 0.1); */
}
.qrcode{
    height: 108px;
    width: 100px;
    
    position: relative;
    margin: 0 auto;
    display: none;
}
.qrcode::after{
    content: " ";
    display: block;
    clear: both;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 1;
    background: #fff;
}
.qrcode_img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 8px;
    z-index: 1;
    background: #fff;
    box-shadow: 0px 4px 12px 0px rgba(51, 51, 51, 0.1);
}
.qrcode_img img{
    width: 92px;
    height: 92px;
}
.suspension_img:hover{
    box-shadow: 0px 0 0 0 rgba(0, 0, 0, 0)
}
.suspension_img:hover + div{
    display: block;
}
/* 右侧悬浮窗 */

/* 赛事赛程3页面日历中队伍对战css */
.game3_game_item{
    height: 187px;
    border-bottom: 1px solid #eee;
    padding:32px 18px 0 18px;
    position: relative;
}
.game3_team1_top{
    height: 60px;
    margin-bottom: 22px;
}
.game3_team1_top_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    border: 2px solid #FF5C6A;
}
.game3_team1_top .game3_team1_top_name{
    font-size: 24px;
    line-height: 60px;
    color: #333;
    width: 150px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap
}
.game3_team1_bottom{
    width: 174px;
    height: 40px;
}
.game3_team1_player{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    position:absolute;
}
.game3_team1_bottom.red .game3_team1_player{
    border: 1px solid #EDBBBF;
}
.game3_team1_bottom.blue .game3_team1_player{
    border: 1px solid #0C8DFC;
}
.game3_team1_bottom{
    position: relative;
}
.game3_team1_allplayer{
    position: relative;
}
.game3_team1_player:nth-child(1){
    left: 0;
    z-index: 1;
}
.game3_team1_player:nth-child(2){
    left: 34px;
    z-index: 2;
}
.game3_team1_player:nth-child(3){
    left: 67px;
    z-index: 3;
}
.game3_team1_player:nth-last-child(2){
    right: 33px;
    z-index: 4;
}
.game3_team1_player:nth-last-child(1){
    right: 0;
    z-index: 5;
}
.game3_team_players{
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    position: absolute;
    right: 0;
    z-index: 6;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.game3_team2 .game3_team1_top_img{
    margin-right: 0;
}
.game3_team2 .game3_team1_top_name{
    margin-right: 20px;
    text-align: right;
}
.game3_team2  .game3_team1_bottom{
    float: right;
}
.game3_team2 .game3_team_players{
    left: 0;
    right: auto;
}
.game3_team2_vs{
    width: 204px;
    position: absolute;
    left: 50%;
    margin-left: -102px;
}
.game3_team2_vs_top{
    /* width: 108px; */
    height: 50px;
    position: relative;
    margin-bottom: 30px;
    /* background: url("../images/game3_vs.png");
    background-position:18px 0;
    background-repeat: no-repeat;
    background-size: 100%; */
    
}
.bg_wr{
    width: 204px;
    position: relative;
}
.game3_team2_vs_bg{
    width: 70px;
    height: 40px;
    background: url("../images/game3_vs.png");
    background-position:center top;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -40px;
}
.time_over{
    width: 204px;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
.game3_team2_vs_time{
    max-width: 180px;
    height: 34px;
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 17px;
    margin-top: 16px;
    z-index: 2;
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 32px;
    margin: 0 auto;
}
.game3_team2_vs_time.stop{
    font-size: 16px;
    color: #999;
}
.game3_team2_vs_bot .compare-bar {
    width: 100%;
    height: 8px;
    margin-top: 12px;
    border-radius: 2px;
    overflow: hidden;
}
.game3_team2_vs_bot .compare-bar .l-bar {
    height: 100%;
    border-radius: 2px 0 0 2px;
    position: relative;
}
.game3_team2_vs_bot .compare-bar .l-bar.blue {
    background: #0C8DFC;
}
.game3_team2_vs_bot .compare-bar .r-bar.blue {
    background: #0C8DFC;
}
.game3_team2_vs_bot .compare-bar .l-bar:before {
    display: block;
    content: '';
    width: 2px;
    height: 10px;
    background: #fff;
    position: absolute;
    right: -1px;
    top: -1px;
    transform: rotate(10deg);
}
.game3_team2_vs_bot .compare-bar .r-bar {
    height: 100%;
    border-radius: 0 2px 2px 0;
}
.game3_team2_vs_bot .compare-bar .r-bar.red {
    background: #FF5C6A
}
.game3_team2_vs_bot .compare-bar .l-bar.red {
    background: #FF5C6A
}
.frequency {
    position: relative;
}
.frequency span{
    font-size: 20px;
    color: #333;
}
.frequency_center{
    width: 130px;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -65px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap
}
.frequency_center.grey{
    font-size: 18px;
    color: #666;
}
.game3_team2_vs_time.dark{
    width: 108px;
    font-size: 24px;
    color: #333;
}
/* 赛事赛程3页面日历中队伍对战css */
/* 电竞战队详情页新闻资讯 */
.team_news{
    width:100%;
    height: auto;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    padding: 20px 20px 0 18px;
}
.team_news_mid{
    margin-bottom: 10px;
}
.team_news_img .img{
    width: 275px;
    height: 158px;
    margin-bottom: 18px;
}
.team_news_img p{
    font-size: 24px;
    color: #333;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-weight: 500;
}
.team_news_mid_ul li{
    width: 275px;
    float: left;
    margin-right: 20px;
}
.team_news_mid_ul li:nth-last-child(1){
    margin-right: 0;
}
.team_news_bot_ul li{
    width: 570px;
    height: 61px;
    border-bottom:1px solid #eee;
    line-height: 60px;
    padding-right: 100px;
}
.team_news_bot_ul li a{
    display: block;
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 20px;
    color: #666;
}
.team_news_bot_ul li:hover a{
    color: #FF6649;
}
/* 电竞战队详情页新闻资讯 */
/* 电竞战队详情页热门赛事 */
.hot_team{
    height: 280px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    padding: 20px 20px 20px 18px;
}
.hot_team .game_team_list_detail{
    padding-left: 20px;
}
.hot_match{
    padding: 20px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
}
.hot_match_bot li{
    float: left;
    margin-right: 19px;
}
.hot_match_bot li:nth-last-child(1){
    margin-right: 0;
}
.hot_match_bot li a{
    display: block;
    width: 275px;
    height: 158px;
    position: relative;
}
.hot_match_bot li a .hot_match_bot_imgs{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.hot_match_bot li a span{
    display: block;
    font-size: 20px;
    color: #eee;
    font-weight: 500;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
    padding: 0 10px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    bottom: 0;
}
/* 电竞战队详情页热门赛事 */
.team_pub_top{
    margin-bottom: 30px;
}
.team_pub_img{
    width: 24px;
    height: 24px;
    margin-right: 8px;
    font-size: 0;
}
.team_pbu_name{
    font-size: 20px;
    color: #333;
    height: 20px;
    line-height: 20px;
}
.team_pub_more span{
    font-size: 20px;
    color: #999;
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 14px;
}
.team_pub_more{
    font-size: 0;
}
.team_pub_more img{
    width: 10px;
    height: 18px;
    vertical-align: middle;
}

/* 移动 */

@media only screen and (max-width: 1024px){
    /* 右面移动端 */
    .game_right{
    float: none;
    width: 100%;
}
    .game_lately, .game_news, .game_team, .game_player{
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }
    .game_match_top span{
        font-size: 24px;
    }
    .game_right .title span{
        font-size: 30px;
    }
    .game_match_img{
        width: 90px;
        height: 90px;
    }
    .game_team .game_team_list_detail .a1{
        width: 108px;
        height: 70px;
    }
    .game_team .game_team_list_detail li{
        height: auto;
    }
    .game_right .game_team{
        height: auto;
    }
    .game_team .game_team_list_detail li span{
        height: 54px;
        line-height: 54px;
        padding: 0 20px;
        font-size: 24px;
    }
    .game_news li{
        width: 100%;
        height: 81px;
        line-height: 80px;
        border-bottom: 1px solid #eee;
    }
    .game_news li a{
        font-size: 24px;
    }
    .game_right .game_match_ul li{
        height: auto;
    }
    .game_right .game_match_ul .left span{
        font-size: 24px;
        max-width: 180px;
    }
    .game_player_ul li span{
        font-size: 24px;
        padding: 0 20px;
    }
    .game_team_depiction p{
        font-size: 24px;
    }
    .team_news_mid_ul li{
        width: 50%;
        margin-right: 0;
        margin-bottom: .3rem;
    }
    .team_news_img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team_news_img p{
        width: 100%;
        padding: 0 5%;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    /* 分页移动 */
    .paging .paging_num{
        width: .6rem;
        height: .6rem;
        font-size: .24rem;
        line-height: .6rem;
    }
    .paging_pre img ,.paging_next img,.paging_pre{
        width: .6rem;
        height: .6rem;
    }
    .esport_more img{
        width: .3rem;
    }
    .paging{
        align-items: center;
    }
    /* 分页移动 */
	
	.team_news_bot_ul li{
		width:100%;
		padding:0 .3rem;
	}
	.team_news_bot_ul li a{
		font-size:.24rem;
	}
	.hot_match_bot li a span{
		font-size:.24rem;
	}
	.team_pub_more span{
		font-size:.28rem;
	}
	.team_pbu_name{
		font-size:.3rem;
	}
	.team_pub_img{
		width:.3rem;
		height:.3rem;
	}

}
/* 面包屑导航 */
.navigation{
    padding: 0 0 20px;
    font-size: 16px;
    color: #666;
}
.navigation a{
    font-size: 16px;
    color: #666;
}
.navigation span{
    font-size: 16px;
    color: #666;
}
.navigation a:hover{
    color: #666;
}
/* 移动 */
@media only screen and (max-width: 1024px){
    .navigation a{
        font-size: .24rem;
        color: #666;
    }
    .navigation span{
        font-size: .24rem;
        color: #666;
    }
}
/* 面包屑导航 */