.wrapper {
    background: #F5F6F7;
    padding-bottom: 80px;
}
.header{
    background: #FFFFFF;
    box-shadow: -5px 6px 30px 0px rgba(51, 51, 51, 0.08);
    margin-bottom: 30px;
}
.game_left
.esports_ul li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.esports_ul a {
    font-size: 20px;
    color: #FF6649;
    padding: 0 20px;
}
.esports_ul li.active a {
    display: block;
    background: #FF6649;
    border-radius: 20px;
    color: #fff;
}
.esports_item{
    width: 860px;
    height: 1256px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    display: none;
}
.esports_item.active{
    display: block;
}
.esports .game_team_list_detail{
    padding: 20px 30px;
}
.esports .game_team_list_detail li{
    margin-right: 39px;
}
.esports .game_team_list_detail li span{
    line-height: 48px;
}
.esports  .game_team_list_detail li:nth-child(5n){
    margin-right: 0;
}

.esport_more{
    margin-right: 10px;
    margin-left: 6px;
}
@media only screen and (max-width: 1024px){
    .esports_item{
        width: 100%;
        height: auto;
        margin-bottom: .2rem;
        padding-bottom: .3rem;
    }
    .esports_ul a{
        font-size: .24rem;
    }
    .esports_ul{
        padding-left: .2rem;
    }
    .esports .game_team_list_detail li{
        /* margin-right: .4rem; */
    }
    .esports .game_team_list_detail li:nth-child(5n){
        margin-right: 0;
    }
	.game_team_list_detail{
		/* justify-content: space-around; */
	}
	.esports .game_team_list_detail li{
		margin-right:.0;
		width:25%;
	}
	.esports .game_team_list_detail li:nth-child(4n){
		margin-right:0;
	}
	.game_team_list_detail li .a1{
		margin:0 auto
	}
}
/* @media only screen and (max-device-width: 320px) { */
	/* .esports .game_team_list_detail li{ */
		/* margin-right:.18rem; */
	/* } */
/* } */